@use './styles/design-system' as *;

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

p,
span,
a,
li {
  font-family: var(--font-family-base);
}

button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-display);
}
