<main class="band-form-container">
  <header>
    <h1 class="display-lg-bold">Add New Band</h1>
    <h2 class="text-lg-semibold">Register a new entry to the personal archive.</h2>

  </header>
  <form class="band-form">

    <div class="form-grid">
      <div class="input-group full-width">
        <label for="name">Band Name</label>
      <input type="text" id="name" placeholder="e.g. Pink Floyd" class="text-md-regular">
    </div>

    <div class="input-group">
      <label for="nat">Nationality</label>
      <input type="text" id="nat" placeholder="e.g. United Kingdom" class="text-md-regular">
    </div>

    <div class="input-row">
      <div class="input-group">
        <label for="albums">Albums</label>
        <input type="number" id="albums" placeholder="0" class="text-md-regular">
      </div>
      <div class="input-group">
        <label for="tracks">Tracks</label>
        <input type="number" id="tracks" placeholder="0" class="text-md-regular">
      </div>
    </div>
  </div>

  <app-button label="Add to archive"></app-button>
</form>
<footer>
    <span>Lucas Txai</span>
</footer>
</main>
