.page-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-800);
  min-height: 100vh; // Garante que o fundo cubra a tela toda
  padding: var(--space-xxl) var(--layout-padding);
  color: var(--text-primary-dark);
  margin: 0 auto;

  header {
    margin-bottom: var(--space-xl);
    border-left: 4px solid var(--color-primary-700); // Um detalhe de design
    padding-left: var(--space-md);

    h1 {
      color: var(--color-secondary-700); // Dando destaque ao título com o âmbar
      margin-bottom: var(--space-xs);
    }

    h2 {
      color: var(--text-secondary-dark);
      max-width: 600px;
    }
  }

  .page-body {
    flex-grow: 1;
    display: grid;
    // Grid responsivo: ele tenta manter 300px, se não couber, ele dropa pra baixo
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--space-lg);
    padding: var(--space-lg) 0;
    align-items: start; // Alinha os cards no topo
  }

  footer {
    margin-top: var(--space-3xl);
    padding: var(--space-lg) 0;
    border-top: 1px solid var(--color-dark-600);
    text-align: center;

    span {
      font-family: var(--font-family-display);
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: var(--font-size-xs);
      color: var(--color-primary-500);
    }
  }
}
